node_modules/
.expo/
.turbo/
dist/
web-build/

android/
ios/

../../services/**/cache/
../../services/**/cache/**
../../services/**/.venv*/
../../services/**/__pycache__/

*.tsbuildinfo
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.DS_Store
npm-debug.*
yarn-debug.*
yarn-error.*
