@config "../../tailwind.config.ts";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@layer base {
  .dark {
    /* Core surfaces */
    --background: rgb(2, 6, 23);
    --foreground: rgb(248, 250, 252);

    --card: rgb(22, 28, 36);
    --card-foreground: rgb(241, 245, 249);

    --popover: rgb(24, 30, 38);
    --popover-foreground: rgb(241, 245, 249);

    /* Brand / primary */
    --primary: rgb(249, 206, 31);
    --primary-foreground: rgb(57, 27, 5);

    /* UI layers */
    --secondary: rgb(34, 40, 48);
    --secondary-foreground: rgb(226, 232, 240);

    --muted: rgb(40, 46, 54);
    --muted-foreground: rgb(148, 163, 184);

    --accent: rgb(45, 52, 61);
    --accent-foreground: rgb(241, 245, 249);

    /* States */
    --destructive: rgb(178, 38, 38);
    --destructive-foreground: rgb(250, 250, 250);

    /* Borders & inputs */
    --border: rgb(45, 51, 59);
    --input: rgb(51, 57, 65);

    /* Focus ring */
    --ring: rgb(96, 165, 250);

    /* Charts */
    --chart-1: rgb(96, 165, 250);
    --chart-2: rgb(52, 211, 153);
    --chart-3: rgb(251, 191, 36);
    --chart-4: rgb(192, 132, 252);
    --chart-5: rgb(244, 63, 94);
  }
  :root {
    --radius: 0.65rem;

    --background: rgb(255, 255, 255);
    --foreground: rgb(10, 7, 5);

    --card: rgb(255, 255, 255);
    --card-foreground: rgb(10, 7, 5);

    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(10, 7, 5);

    --primary: rgb(250, 204, 21);
    --primary-foreground: rgb(59, 28, 6);

    --success: rgb(34, 197, 94);
    --success-foreground: rgb(240, 253, 244);

    --warn: rgb(245, 158, 11);
    --warn-foreground: rgb(69, 26, 3);

    --secondary: rgb(245, 245, 244);
    --secondary-foreground: rgb(26, 22, 20);

    --muted: rgb(245, 245, 244);
    --muted-foreground: rgb(120, 113, 108);

    --accent: rgb(245, 245, 244);
    --accent-foreground: rgb(26, 22, 20);

    --destructive: rgb(239, 68, 68);
    --destructive-foreground: rgb(250, 250, 249);

    --border: rgb(229, 231, 235);
    --input: rgb(229, 231, 235);
    --ring: rgb(10, 7, 5);

    --chart-1: rgb(234, 88, 12);
    --chart-2: rgb(22, 163, 151);
    --chart-3: rgb(30, 64, 92);
    --chart-4: rgb(250, 204, 21);
    --chart-5: rgb(249, 115, 22);
  }
}
@layer base {
  .dark {
    /* --primary: rgb(31, 96, 249);
    --primary-foreground: rgb(5, 22, 57); */

    --success: rgb(34, 197, 94);
    --success-foreground: rgb(236, 253, 245);

    --warn: rgb(245, 158, 11);
    --warn-foreground: rgb(255, 251, 235);
  }
  :root {
    /* --primary: rgb(21, 21, 250);
    --primary-foreground: rgb(6, 8, 59); */

    --success: rgb(34, 197, 94);
    --success-foreground: rgb(240, 253, 244);

    --warn: rgb(245, 158, 11);
    --warn-foreground: rgb(69, 26, 3);
  }
}
